.header{
    display: flex;    
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 10px 20px;
}

.header h3{
    font-size: 20px;
    color: #41B06E;
    font-weight: 800;
}

.header form{
    width: 100%;    
}

.header input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
    background-color: #f1f1f1;
}

.header input:focus{
    outline: 1px solid #41B06E;
    border: 2px solid #41B06E;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: scroll;        
    cursor: pointer;    
}

/* WebKit Scrollbar Styling */
/* Track */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mainList{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 20px;
}

.mainList:hover{
    background-color: #f1f1f1;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text h3{
    font-size: medium;
}

.text p{
    font-size: small;
}

