.container{
    display: flex;    
    background-color: #ccc;
}

.wrapper{        
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f1f1f1;
}

.info{
    display: flex;
    gap: 10px;
    align-items: center;
}