.container{
    display: flex;    
    background-color: #ccc;
}

.wrapper{        
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.text{    
    max-width: 50%;   
}

.header{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f1f1f1;
}

.header h3{
    font-size: medium;
}

.info{        
    display: flex;
    gap: 10px;
    align-items: center;
}

.main{
    width: 100%;
    height: 79vh;
    background-color: #ccc;
    overflow-y: scroll;    
}

.footer{
    width: 100%;
    height: 10%;
    padding: 10px 20px;
    background-color: #f1f1f1;
    display: flex;  
    align-items: center;
}

.form{
    display: flex;
    gap: 10px;        
    width: 80%;
}

.form input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
}

.form input:focus{
    outline: none;  
}

.form button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    border: none;
    background-color: #41B06E;
    font-size: 13px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;  
}

.mesageContainer{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;    
    align-items: flex-start;
}

.messageContainerFrom{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;    
    align-items: flex-end;
}

.message{
    max-width: fit-content;
    display: flex;
    /* float: right;     */
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px;
    justify-content: center;
    background-color: #1f1f1f;    
    color: white;
    margin: 10px 20px;
    font-size: 14px;
}

.messageFrom{    
    max-width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px;
    justify-content: center;
    background-color: #41B06E;    
    color: white;
    margin: 10px 20px;
    font-size: 14px;
}


/* WebKit Scrollbar Styling */
/* Track */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}